<div class="wrapper">
  <!-- Splash ------------------------------------------------------>
  <section id="splash"></section>
  <!-- About ------------------------------------------------------->
  <section id="about"></section>
  <!-- Projects ---------------------------------------------------->
  <section id="projects"></section>
  <!-- Contact ----------------------------------------------------->
  <section id="contact"></section>
  <!-- Footer ------------------------------------------------------>
  <section id="footer"></section>
</div>