<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <!-- Splash ------------------------------------------------------>
  <section id="splash">

    <!-- Video Background -->
    <video loop muted autoplay id="video-background">
      <source src="../assets/img/waves.mp4" type="video/mp4" />
    </video>
    <div class="video-overlay"></div>

    <!-- Main Title -->
    <h1 class="main-title">Your Title Here</h1>

    <!-- Social Icons -->
    <div class="social-icons">
      <a href="https://github.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'github']" title="Github"></fa-icon></a>
      <a href="https://codepen.io" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'codepen']" title="Codepen"></fa-icon></a>
      <a href="https://linkedin.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="LinkedIn"></fa-icon></a>
      <a href="https://medium.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'medium']" title="Medium"></fa-icon></a>
      <a href="https://instagram.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instagram"></fa-icon></a>
      <a href="https://youtube.com" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'youtube']" title="Youtube"></fa-icon></a>
    </div>
  </section>
  <!-- About ------------------------------------------------------->
  <div class="background">
    <section id="about">
      <div class="card">
        <img src="../assets/img/jacinto-wong.jpg" alt="Jacinto Wong" class="about-img">
        <div class="card-body">
          <h1 class="card-title">About</h1>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, repellendus! Iusto, ipsam omnis enim placeat tempore molestias cumque, suscipit maiores asperiores est delectus, nihil eligendi. Soluta optio enim eligendi ex? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione quo quae earum totam ullam maxime amet repellendus libero dolores, pariatur quisquam necessitatibus cupiditate eaque voluptatibus! Veritatis delectus sed consequatur corporis.</p>
          <a href="#">
            <div class="card-button">View Resume</div>
          </a>
        </div>
      </div>
    </section>
  </div>
  <!-- Projects ---------------------------------------------------->
  <section id="projects">
    <div class="projects">
      <h1 class="projects-title">Click to View Projects</h1>
      <div class="project-group-1">
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
      <div class="project-group-2">
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
        <article class="project-item">
          <div class="project-img">
            <a href="#" title="Project Title"><img src="../assets/img/mockup-example.png" alt="Project Mockup"></a>
          </div>
          <div class="project-caption">
            <h4 class="project-title"><a href="#">Project Title</a></h4>
            <h6 class="github-link"><a href="#" title="View Github Repository">Github</a></h6>
          </div>
        </article>
      </div>
    </div>
  </section>
  <!-- Contact ----------------------------------------------------->
  <section id="contact"></section>
  <!-- Footer ------------------------------------------------------>
  <section id="footer"></section>
</div>