/* Navigation */
a { text-decoration: none; }

/* Sidebar */
.desktop-nav { display: initial; }
.display-none { display: none; }
.sidebar-container {
  /* background-color: dodgerblue; */
  position: fixed; 
  display: initial;
  height: 100vh; 
  width: 340px; 
  z-index: 10;
}
.sidebar-toggle {
  font-size: 2rem; 
  font-family: 'Segoe UI', sans-serif;
  color: white;
  background-color: rgba(0,0,0,.5);
  width: 112px;
  margin: 40px; 
  padding: 10px; 
}
.sidebar-items {
  position: fixed; 
  z-index: 10;
  list-style-type: none;
  font-size: 3rem;
}
.sidebar-items li {
  text-transform: uppercase;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 20px; 
  cursor: pointer;
}
.sidebar-items a {
  color: white;
  padding: 2px 14px 5px; 
  background-color: rgba(0,0,0,.5);
}
.sidebar-items a:hover {
  color: rgba(0,0,0,.85);
  background-color: #fbfbfb;
  transition: .3s ease;
}